<div class = "ui-g">
  <div class = "ui-g-12 flex">
    <b class = "pad-rig">Período: </b>
    <div class = "ui-g-2"> 
      <p-calendar 
        [showIcon]="true" [(ngModel)]="rangeDates" dateFormat="dd/mm/yy"
        selectionMode="range" readonlyInput="true"
        (onSelect) = "find()">
      </p-calendar>
    </div>
    <p-checkbox 
      label = "Mostrar tudo" [(ngModel)]="showAll" 
      binary="true" (onChange) = "find()">
    </p-checkbox>
  </div>
  <p-dataTable class = "ui-g-12" [value] = "trades">
    <p-column field="ticket" header="Ticket"></p-column>
    <p-column field="date" header="Data"></p-column>
  </p-dataTable>
</div>