<div class="ui-g container-wrapper">
  <form 
    (ngSubmit) = "salvarOperacao()"
    class = "ui-g-12" [formGroup] = "_form">
    <div class = "pad-rig">
      <p>Data Operação</p>
      <p-inputMask
        size="10" 
        mask="99/99/2099" slotChar="mm/dd/yyyy"
        [(ngModel)] = "operacao.date"
        formControlName = "date"> </p-inputMask>
    </div>

    <div  class = "pad-rig">
      <p>Ticket</p>
      <input 
        [(ngModel)] = "operacao.ticket"
        formControlName = "ticket"
        pInputText size = "10" />
    </div>

    <div class = "pad-rig">
      <p>Mercado</p>
      <p-dropdown 
        [options] = "getMarketType()" 
        optionLabel="value"
        [(ngModel)] = "selectedMarketType" [ngModelOptions]="{standalone: true}">
      </p-dropdown>
    </div>

    <div class = "pad-rig">
        <p>Tipo</p>
        <p-dropdown 
          [options] = "getMarketDirections()" 
          optionLabel="value" 
          [(ngModel)] = "selectedMarketDirection" [ngModelOptions]="{standalone: true}">
        </p-dropdown>
    </div>

    <div class = "pad-rig">
        <p>Valor</p>
        <p-inputMask
          mask = "99.99"
          formControlName = "pricePerUnit"
          [(ngModel)] = "operacao.pricePerUnit"
          size = "10"></p-inputMask>
    </div>

    <div class = "pad-rig">
        <p>Qtd</p>
        <input 
          formControlName = "qtd"
          [(ngModel)] = "operacao.quantity"
          pInputText size = "10" />
    </div>

    <div class = "pad-rig">
        <p>Corretagem</p>
        <input
          [(ngModel)] = "operacao.brokerTax" [ngModelOptions]="{standalone: true}"
          pInputText size = "10" />
    </div>

    <div class = "pad-rig">
        <p>ISS (Corretagem)</p>
        <input 
          [(ngModel)] = "operacao.brokerTaxFee" [ngModelOptions]="{standalone: true}"
          pInputText size = "10" />
    </div>

    <div>
      <button type="submit" icon="fa fa-floppy-o" pButton></button>
    </div>
  </form>
</div>
